/* ------------------------------------------------------------- */
/* |    ESTILOS PERSONALIZADOS PARA LA PÁGINA DEL CHATBOT      | */
/* ------------------------------------------------------------- */

body {
    background-color: #f8f9fa; /* Color de fondo */
}

.colorEstandarTexto {
    color: #0D5C75; /* Color del título */
}

.titulo-chatbot {
    font-size: 2.5rem; /* Tamaño del título */
}

.informacion-chatbot {
    font-size: 1.2rem; /* Tamaño del texto de información */
    margin-top: 10px; /* Espacio superior */
}

.logo-telegram {
    max-width: 100%; /* Limitar el ancho máximo al 100% del contenedor */
    height: auto; /* Mantiene la proporción del logo */
    max-height: 300px; /* Aumentar la altura máxima del logo */
}

.btn-telegram {
    background-color: #0088cc; /* Color del botón al de Telegram */
    border: none; /* Sin borde */
    color: white; /* Color del texto del botón en blanco */
}

.btn-telegram:hover {
    background-color: #0077b3; /* Color al pasar el mouse */
    color: white; /* Asegurarse que el texto se mantenga blanco */
}
